http_interactions:
- request:
    method: GET
    uri: https://api.census.gov/data/2021/cbp/variables/NAICS2017.json
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
    body:
      string: |-
        {
          "name": "NAICS2017",
          "label": "2017 NAICS code",
          "concept": "All Sectors: County Business Patterns, including ZIP Code Business Patterns, by Legal Form of Organization and Employment Size Class for the U.S., States, and Selected Geographies: 2021",
          "required": "default displayed",
          "predicateType": "string",
          "group": "CB2100CBP",
          "limit": 0,
          "attributes": "NAICS2017_F,NAICS2017_LABEL,NAICS2017_F",
          "values": {
            "item": {
              "00": "Total for all sectors",
              "000000": "Industry total",
              "11": "Agriculture, forestry, fishing and hunting",
              "111": "Crop production",
              "1111": "Oilseed and grain farming",
              "11111": "Soybean farming",
              "111110": "Soybean farming",
              "1111100": "Soybean farming",
              "11111000": "Soybean farming",
              "11112": "Oilseed (except soybean) farming",
              "11112[...]
- request:
    method: GET
    uri: https://api.census.gov/data/2021/cbp?get=NAME%2CEMP%2CESTAB%2CNAICS2017&for=county%3A%2A&in=state%3A10&NAICS2017=23&key=<CENSUS_API_KEY>
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
    body:
      string: |-
        [["NAME","EMP","ESTAB","NAICS2017","NAICS2017","state","county"],
        ["Kent County, Delaware","2575","374","23","23","10","001"],
        ["New Castle County, Delaware","15031","1324","23","23","10","003"],
        ["Sussex County, Delaware","5580","746","23","23","10","005"]]
  recorded_at: 2026-03-23 13:30:59
[...]
