http_interactions:
- request:
    method: GET
    uri: https://api.census.gov/data/2019/pep/charage/variables/SEX.json
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
    body:
      string: |-
        {
          "name": "SEX",
          "label": "Sex",
          "required": "default displayed",
          "predicateType": "int",
          "group": "N/A",
          "limit": 0,
          "values": {
            "item": {
              "0": "Both Sexes",
              "1": "Male",
              "2": "Female"
            }
          }
        }
  recorded_at: 2026-03-23 13:31:43
- request:
    method: GET
    uri: https://api.census.gov/data/2019/pep/charage/variables/HISP.json
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
    body:
      string: |-
        {
          "name": "HISP",
          "label": "Hispanic Origin",
          "required": "default displayed",
          "predicateType": "int",
          "group": "N/A",
          "limit": 0,
          "values": {
            "item": {
              "2": "Hispanic",
              "1": "Non Hispanic",
              "0": "Both Hispanic origins"
            }
          }
        }
  recorded_at: 2026-03-23 13:31:43
- request:
    method: GET
    uri: https://api.census.gov/data/2019/pep/charage?get=NAME%2CPOP%2CSEX%2CHISP&for=state%3A22&key=<CENSUS_API_KEY>
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
    body:
      string: |-
        [["NAME","POP","SEX","HISP","state"],
        ["Louisiana","4648794","0","0","22"],
        ["Louisiana","4401822","0","1","22"],
        ["Louisiana","246972","0","2","22"],
        ["Louisiana","2267050","1","0","22"],
        ["Louisiana","2135979","1","1","22"],
        ["Louisiana","131071","1","2","22"],
        ["Louisiana","2381744","2","0","22"],
        ["Louisiana","2265843","2","1","22"],
        ["Louisiana","115901","2","2","22"]]
  recorded_at: 2026-03-23 13:31:44
[...]
- request:
    method: GET
    uri: https://api.census.gov/data/2019/pep/charage/variables/HISP.json
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
    body:
      string: |-
        {
          "name": "HISP",
          "label": "Hispanic Origin",
          "required": "default displayed",
          "predicateType": "int",
          "group": "N/A",
          "limit": 0,
          "values": {
            "item": {
              "2": "Hispanic",
              "1": "Non Hispanic",
              "0": "Both Hispanic origins"
            }
          }
        }
  recorded_at: 2026-03-23 13:31:44
recorded_with: VCR-vcr/2.1.0
