http_interactions:
- request:
    method: GET
    uri: https://api.census.gov/data/2019/pep/charage/variables/RACE.json
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
    body:
      string: |-
        {
          "name": "RACE",
          "label": "Race",
          "required": "default displayed",
          "predicateType": "int",
          "group": "N/A",
          "limit": 0,
          "values": {
            "item": {
              "11": "Native Hawaiian and Other Pacific Islander alone or in combination",
              "10": "Asian alone or in combination",
              "9": "American Indian and Alaska Native alone or in combination",
              "8": "Black alone or in combination",
              "7": "White alone or in combination",
              "6": "Two or more races",
              "5": "Native Hawaiian and Other Pacific Islander alone",
              "4": "Asian alone",
              "3": "American Indian and Alaska Native alone",
              "2": "Black alone",
              "1": "White alone",
              "0": "All races"
            }
          }
        }
  recorded_at: 2026-03-23 14:24:52
- request:
    method: GET
    uri: https://api.census.gov/data/2019/pep/charage?get=NAME%2CPOP%2CRACE&for=state%3A36&key=<CENSUS_API_KEY>
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
    body:
      string: |-
        [["NAME","POP","RACE","state"],
        ["New York","19453561","0","36"],
        ["New York","13546776","1","36"],
        ["New York","3421123","2","36"],
        ["New York","189748","3","36"],
        ["New York","1753199","4","36"],
        ["New York","27034","5","36"],
        ["New York","515681","6","36"],
        ["New York","13971815","7","36"],
        ["New York","3743356","8","36"],
        ["New York","318858","9","36"],
        ["New York","1929111","10","36"],
        ["New York","52884","11","36"]]
  recorded_at: 2026-03-23 14:24:52
- request:
    method: GET
    uri: https://api.census.gov/data/2019/pep/charage/variables/RACE.json
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
    body:
      string: |-
        {
          "name": "RACE",
          "label": "Race",
          "required": "default displayed",
          "predicateType": "int",
          "group": "N/A",
          "limit": 0,
          "values": {
            "item": {
              "11": "Native Hawaiian and Other Pacific Islander alone or in combination",
              "10": "Asian alone or in combination",
              "9": "American Indian and Alaska Native alone or in combination",
              "8": "Black alone or in combination",
              "7": "White alone or in combination",
              "6": "Two or more races",
              "5": "Native Hawaiian and Other Pacific Islander alone",
              "4": "Asian alone",
              "3": "American Indian and Alaska Native alone",
              "2": "Black alone",
              "1": "White alone",
              "0": "All races"
            }
          }
        }
  recorded_at: 2026-03-23 14:24:53
recorded_with: VCR-vcr/2.1.0
